* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header h1 {
    display: inline-block;
    font-weight: 700;  
    line-height: 80px;
    vertical-align: top;
}

header img {
    padding: 15px 5px 10px 20px;
}





main {
    background-color: #f6f8f9;
    padding: 40px 200px;
}


#buttons, #list {
    padding: 20px, 100px ;
    background-color: white;
}

#buttons {
    padding-left: 50px;
    padding-bottom: 10px;
}

#buttons button {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    font-size: small;
    font-weight: bold;
}

#buttons #task {
    color: white;
    background-color: #47adf1;
    border: none;
    margin-left: 20px; 
}

#buttons #section{
    color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: white;
} 





#list {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.strong {
    font-size: 1.3em;
    font-weight: bold;
    list-style: none;
}

.coloured {
    font-size: 0.7em;
    border-radius: 10px;
    padding: 3px 5px; 
    color: white;   
}

.sezione {
    margin: 20px auto 20px 40px;
}

ul {
    list-style-type: none;
}

li {
    margin: 10px;
}

li.thick-green {
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    padding: 1px;
} 

li.thick-red {
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    padding: 1px;
} 


.purple {
    background-color: #9c72e4;
}

.green {
    background-color: #64c0a9;
}

.orange {
    background-color: #f29e33;
}

.pink {
    background-color: #d65f9e;
}

.yellow {
    background-color: #b0c926;
}

.blue {
    background-color: #47adf1;
}

