* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


header > h1 {
    display: inline-block;
    font-weight: 700;  
    line-height: 80px;
    vertical-align: top;
    
}


header img {
    padding: 15px 5px 10px 20px;
}

main {
    background-color: #f6f8f9;
    padding: 40px 50px;
}


#buttons {
    padding: 20px ;
    background-color: white;
}
#buttons button {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    font-size: small;
    font-weight: bold;
}

#buttons #task {
    color: white;
    background-color: #47adf1;
    border: none;
    margin-left: 20px; 
}

#buttons #section {
    color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: white;
} 

.strong {
    font-size: 1.3em;
    font-weight: bold;
    list-style: lower-greek;
}

.coloured {
    font-size: 0.7em;
    border-radius: 10px;
    padding: 3px 5px;    
}

#blue {
    background-color: #47adf1;
}

.sezione {
    margin: 20px auto 20px 40px;
}

li {
    margin: 10px;
}